html
{
  width: 100vw;
  height: 100vh;
}
html > body
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.form
{
  top:20px;
  width: 15vw;
  height: 30vh;
}
input
{
  width: 100%;
  border-radius: 5px;
  border:0.5px solid gray;
  height: 30px;
}
.button
{
  margin-top: 20px;
  display: flex;
}
.f
{
  flex-shrink: 1;
}
.shrink
{
  flex-shrink: 1;
  width: 50%;
}
button
{
  width: 90px;
  border-radius: 5px;
  border:0.5px solid gray;
  height: 40px;
  font-size: 18px;
}
button:hover
{
  background-color: darkgray;
  color:white;
}